
.inputLog{
    margin-bottom: 10px;
}

.boxs{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    padding: 50px 50px;
    border: 1px solid;
    text-align: center;
}